<h1 class="titulo">Formulário para cadastrar pagamento</h1>
<div class="card container">
    <div class="card-body">
        <form action="/add-pagamento" method="POST">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" />
            <label for="valor">Valor</label>
            <input type="text" name="valor" id="valor" class="form-control" />
            <button class="btn btn-success mt-4" type="submit">Cadastrar</button>
        </form>
    </div>
</div>